::-webkit-input-placeholder{color:#666 !important;}
::-moz-placeholder{color:#666;}

form input.form-control:invalid   
{
    box-shadow: 0 0 5px #d45252;
    border: 1px solid #b03535;
    background: #ffb8b8 url(/Content/Imagenes/invalid.png) no-repeat 98% center;
}

form input.form-control:valid:focus
{
    background: #fff url(/Content/Imagenes/valid.png) no-repeat 98% center;
}

form textarea.form-control:valid:focus
{

    background: #fff url(/Content/Imagenes/valid.png) no-repeat 95% center;
}

.formBuscarEmpleado
{
    background-color: white;
    padding: 20px 0px 1px 0 !important;
}

span.elemento-requerido
{
    font-size: 3.2em;
    color: #101214;
    font-weight: bold;
    text-shadow: 1px 1px 0px rgba(40,40,50,1);
}

.col-lg-11 .input-group span
{
    width: 50%;
    border:none; 
}

.col-lg-11 .input-group .foto span
{
    width: 25%;
}

.col-lg-11 .input-group .form-control
{
    display: inline-block;
    width: 175%;
}
.col-lg-11 .input-group input, .col-lg-11 .input-group textarea
{
    width: 85%;

}

.col-lg-11 input:focus, .col-lg-11 textarea:focus
{
    width: 100%;
}

.label-calendario
{
    padding: 10px 10px;
    border-radius: 5px 0 0 5px;
    background-image: -webkit-linear-gradient(#484e55, #3a3f44 60%, #313539);
    background-image: linear-gradient(#484e55, #3a3f44 60%, #313539);
    background-repeat: no-repeat;
    display: inline-block;
    width: 36%;
    color: white;
}

/*Para el control calendario de ASP*/
.calendario-control
{
    display: inline-block;
}

table.calendario-control
{
    border: 2px solid #cbcbcb !important;
}

table.calendario-control tbody, 
table.calendario-control tbody tr,
table.calendario-control tbody tr td a
{
}
table.calendario-control tbody tr:first-child, 
table.calendario-control tbody tr:first-child td
{
    border: 0px solid transparent !important;
    background: #27c2ef;
    color: white;
}

.input-group select.form-control
{
    display: inline-block;
}


/*Span de Fechas*/
.col-lg-11 .input-group span.input-group-addon.excepto
{
    width: 40%;
}

.paddingLeft1em
{
    padding-left: 1em;
}


tr:hover
{
    background: #27c2ef !important;
    color: #ffffff !important; 
    cursor:pointer;
}

tr td a.glyphicon
{
    -moz-transition: all linear .1s;
    -o-transition: all linear .1s;
    -webkit-transition: all linear .1s;
    transition: all linear .1s;
}
tr td:hover a.glyphicon
{
    font-size: 2em;
    margin-right: -1em;
    text-decoration: none;
}

tr.paginator td 
{
    height: 2em;
    background: #27c2ef;
}

tr.paginator td table td
{
    background: #27c2ef;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
}

tr.paginator td table tbody tr td a
{
    display:block;
}

tr.paginator td table td:hover, tr.paginator td table td:hover a
{
    text-decoration:none;
    color: #444;
    background: white;
    display: inline-block;
}

.gridListaEmpleados
{
    border-width: 0px !important;
}

.headerGridStyle
{
    padding-left: 1em;
    border-bottom: 2px solid #eee;
}

.customInput
{
    border: 2px solid #27c2ef;
}


.btnListarTodos
{
    background:#f6f6f6; 
    color: #999999; 
    text-shadow: none; 
    border: 1px solid #dddddd;
}
.btnListarTodos:hover
{
    background:#27c2ef;
    color: white;
    border: 1px solid #dddddd;
}