::-webkit-input-placeholder{color:black !important;}
::-moz-placeholder{color:black;}

form input.form-control:invalid   
{
    box-shadow: 0 0 5px #d45252;
    border: 1px solid #b03535;
    background: #ffb8b8;
}



span.elemento-requerido
{
    font-size: 3.2em;
    color: #101214;
    font-weight: bold;
    text-shadow: 1px 1px 0px rgba(40,40,50,1);
}

.col-lg-11 .input-group span
{
    width: 50%;
    border:none; 
}

.col-lg-11 .input-group .foto span
{
    width: 25%;
}

.col-lg-11 .input-group .form-control
{
    display: inline-block;
    width: 175%;
}
.col-lg-11 .input-group input, .col-lg-11 .input-group textarea
{
    width: 85%;

}

.col-lg-11 input:focus, .col-lg-11 textarea:focus
{
    width: 100%;
}

.label-calendario
{
    padding: 10px 10px;
    border-radius: 5px 0 0 5px;
    background-image: -webkit-linear-gradient(#484e55, #3a3f44 60%, #313539);
    background-image: linear-gradient(#484e55, #3a3f44 60%, #313539);
    background-repeat: no-repeat;
    display: inline-block;
    width: 36%;
    color: white;
}

/*Para el control calendario de ASP*/
.calendario-control
{
    display: inline-block;
}

table.calendario-control
{
    border: 2px solid #cbcbcb !important;
}

table.calendario-control tbody, 
table.calendario-control tbody tr,
table.calendario-control tbody tr td a
{
}
table.calendario-control tbody tr:first-child, table.calendario-control tbody tr:first-child td
{
    border: 0px solid transparent !important;
    background: #27c2ef;
    color: white;
}

.input-group select.form-control
{
    display: inline-block;
}

.col-lg-11 .input-group span.input-group-addon.excepto
{
    width: 40%;
}
